@import url("https://fonts.googleapis.com/css2?family=Kite+One&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Kite One", sans-serif;
  background: #b7bce5;

  display: flex;
  align-items: center;
  justify-content: center;

  height: 100vh;
  width: 100%;
  overflow: hidden;
}

.bg {
  background: url(image.jpg) no-repeat center center/cover;
  position: absolute;
  top: -30px;
  left: -30px;

  width: calc(100% + 60px);
  height: calc(100vh + 60px);

  z-index: -1;
  filter: blur(0px);
}

.loading-text {
  font-size: 5rem;
  color: #fff;
  font-weight: 600;
}
